<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="billImage-container">
        <img src="<%= billImage %>" alt="" srcset="">
        <img src="<%= processedImage %>" alt="" srcset="">
    </div>
    <ul>
        <% for (let i = 0; i < participants.length; i++) { %>
            <li><%= participants[i] %></li>
        <% } %>
    </ul>
</body>
</html>